<div class= "large-container center-block">
  <h1><%== @article.title%></h1>
  <div>
    <p>Escrito por: <strong> @user.email</strong></p>
    <%= image_tag url_for(current_user.avatar), height: '50' %>
  </div>
  <div>
    <%= @article.content %>
  </div>
  <div>
    <div class="margin-top">
      <p class="label">Tags</p>
      <% @article.categories.each do |category|%>
        <span class="badge rounded-pill padding" style= "background-color:<%= category.color %>">
          <%= link_to category.title, category, class: "text-white" %>
        </span>
      <% end %>
    </div>
  </div>

  <div>
    <%=link_to "Eliminar el artículo", @article, method: :delete %>
  </div>
</div>
